In [5]:
import pandas as pd

# Load the second form data
df2 = pd.read_excel("career_interest_data.xlsx")

# Show first few rows
df2.head()

,Timestamp,Email Address,What kind of tasks do you enjoy the most?,Do you prefer working...,Which area are you most interested in as a career?
0,2025-06-30 19:45:05.138,dhanasreesudhakar29@gmail.com,Teaching or helping others,Both,Teaching / Academia
1,2025-06-30 19:49:33.119,kothaharsh@gmail.com,Managing or leading a team,Both,Business or Management
2,2025-06-30 19:53:48.276,banothnandhini2005@gmail.com,Analyzing data,In a team,Data Science / Analytics
3,2025-06-30 19:55:27.092,vattipallypoojithasri@gmail.com,Analyzing data,Both,Data Science / Analytics
4,2025-06-30 19:56:20.696,kothaharsh@gmail.com,"Solving problems, Teaching or helping others, ...",Both,"Data Science / Analytics, Business or Management"

In [6]:
df2.columns.tolist()

['Timestamp',
 'Email Address',
 'What kind of tasks do you enjoy the most?  ',
 'Do you prefer working... ',
 'Which area are you most interested in as a career?  ']

In [7]:
df2.columns = df2.columns.str.strip()

In [8]:
df2.rename(columns={
    "What kind of tasks do you enjoy the most?": "TasksEnjoyed",
    "Do you prefer working...": "WorkPreference",
    "Which area are you most interested in as a career?": "CareerInterest"
}, inplace=True)

In [9]:
df2.columns.tolist()

['Timestamp',
 'Email Address',
 'TasksEnjoyed',
 'WorkPreference',
 'CareerInterest']

In [10]:
def recommend_career(row):
    tasks = row["TasksEnjoyed"].lower()
    work = row["WorkPreference"].lower()
    interest = row["CareerInterest"].lower()
    
    if "analyzing data" in tasks or "data" in interest:
        return "Data Analyst"
    elif "solving problems" in tasks or "software" in interest:
        return "Software Developer"
    elif "creative" in tasks or "design" in interest:
        return "UI/UX Designer"
    elif "teaching" in tasks or "academia" in interest:
        return "Teaching / Academic Career"
    elif "managing" in tasks or "management" in interest:
        return "Business / Management Role"
    else:
        return "Career Guidance Needed"

# Apply the function to the dataset
df2["RecommendedCareer"] = df2.apply(recommend_career, axis=1)

In [11]:
df2[["Email Address", "TasksEnjoyed", "CareerInterest", "RecommendedCareer"]].head(10)

,Email Address,TasksEnjoyed,CareerInterest,RecommendedCareer
0,dhanasreesudhakar29@gmail.com,Teaching or helping others,Teaching / Academia,Teaching / Academic Career
1,kothaharsh@gmail.com,Managing or leading a team,Business or Management,Business / Management Role
2,banothnandhini2005@gmail.com,Analyzing data,Data Science / Analytics,Data Analyst
3,vattipallypoojithasri@gmail.com,Analyzing data,Data Science / Analytics,Data Analyst
4,kothaharsh@gmail.com,"Solving problems, Teaching or helping others, ...","Data Science / Analytics, Business or Management",Data Analyst
5,varsitayeddula@gmail.com,"Solving problems, Teaching or helping others, ...","Software Development, Data Science / Analytics...",Data Analyst
6,gangapuramdeepak11@gmail.com,Designing things,"Software Development, Business or Management",Software Developer
7,glaasya9@gmail.com,"Designing things, Teaching or helping others, ...","Teaching / Academia, Business or Management, C...",Teaching / Academic Career
8,pragathireddy26032005@gmail.com,"Solving problems, Designing things, Teaching o...","Software Development, Teaching / Academia, Bus...",Data Analyst
9,pallatisowjanya2005@gmail.com,Designing things,"Software Development, Data Science / Analytics...",Data Analyst

In [12]:
df2.to_excel("career_recommendations_output.xlsx", index=False)

In [13]:
import os
os.getcwd()

'C:\\Users\\hp\\OneDrive\\Desktop\\Student_Performance_Project'

In [14]:
import os

os.chdir("C:/Users/hp/OneDrive/Desktop/Student_Performance_Project")

In [15]:
df2.to_excel("career_recommendations_output.xlsx", index=False)

In [16]:
df2.to_excel("career_recommendations_output.xlsx", index=False)